
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<form asp-controller="Home" asp-action="searchresult">
    <div>
        <input type="text" />
        <input type="number" />
        <input type="number" />
    </div>
    <div>
        @foreach ()
        {

        }
    </div>
    <div>

    </div>
    <input type="submit" />
</form>